@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.raleway {
  font-family: Raleway;
}

.montserrat {
  font-family: Montserrat;
}
.advent-pro {
  font-family: "Advent Pro";
}

.menu-bg-color {
  background-color: rgb(0, 0, 0, 0.6);
}

.mobile-bg-color {
  background-color: rgb(0, 0, 0, 0.5);
}

.trapezoid {
  border-bottom: 70px solid rgb(0, 0, 0, 0.5);
  border-left: 80px solid transparent;
  border-right: 0 solid transparent;
  border-top: 70px solid rgb(0, 0, 0, 0.5);
  height: 0px;
}

.bio-bg-color {
  background-color: rgb(29, 29, 29, 0.98);
}
.width-test {
  width: 1800px;
}

input::placeholder {
  font-size: small;
  font-weight: 550;
}
textarea::placeholder {
  font-size: small;
  font-weight: 550;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
